<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<h2>User Registration</h2>
<form action="registerUser" method="post">
  <pre>
    <b>First Name:</b><input type="text" name="firstName">
    <b>Last Name:</b><input type="text" name="lastName">
    <b>Email:</b><input type="text" name="email">
    <b>Password:</b><input type="password" name="password">
    <b>Confirm Password:</b><input type="password" name="confirmPassword">
    <input type="submit", value="register">
  </pre>
</form>
</body>
</html>